@import "tailwindcss";

@theme {
  --color-primary: #5e5343;
  --color-secondary: #81715b;
  --color-underline: #3f4f44;
}

.curved-underline {
  position: relative;
}

.curved-underline::after {
  content: "";
  position: absolute;
  width: 100%;
  border-top: solid 8px rgba(255, 131, 127, 0.8);
  left: 0;
  bottom: -25px;
  border-radius: 50%;
  height: 30px;
}

.rotated-bg {
  position: relative;
  display: inline-block;
  color: white;
  z-index: 1;
}

.rotated-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-primary);
  transform: rotate(-0.8deg); /* control the rotation angle */
  z-index: -1;
  transform-origin: center;
}
